body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.producto img {
    max-width: 100%;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-item img{
    width:  50px;
}

#carritoContainer{
    position: fixed;
    right: 0;
    top: 50px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oculto {
    display: none;
}